@font-face {
	font-family: ReplicaProRegular;
	src: url("fonts/ReplicaProRegular.otf") format("opentype");
}

@font-face {
	font-family: ReplicaProBold;
	font-weight: bold;
	src: url("fonts/ReplicaProBold.otf") format("opentype");
}

@font-face {
	font-family: ReplicaProLight;
	font-weight: lighter;
	src: url("fonts/ReplicaProLight.otf") format("opentype");
}

html {
	font-family: "ReplicaProRegular", 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	line-height: 24px;
	font-size: 12px;
}

body {
	font-family: "ReplicaProRegular", 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background-overlay {
	background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span.krux-bold {
	font-family: "ReplicaProBold", 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-weight: bolder;
}

span.krux-light {
	font-family: "ReplicaProLight", 'Arial', Gadget, sans-serif;
	font-weight: bolder;
}

div.page-content {
	background-color: white;
	color: white;
	line-height: 24px;
	background-color: #79C4D3;
	padding: 5em;
	font-size: 14px;
	text-align: left;
	margin-top: 130px;
	margin-left: 2em;
	margin-right: 2em;
}

.residents {
	font-family: "ReplicaProLight", Helvetica, sans-serif;
	list-style: none;
	padding-left: 0;
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;  
	font-weight: lighter;
	height: 600px;
	line-height: 28px;
	padding: 10px;
	font-size: 24px;
}

.residents ul {
	list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

.list-subtitle {
	font-style: italic;
}

.post {
	margin: 5%;
}

a:hover, a:visited {
	color: white;
}

.artist-image {
	height: auto;
	margin: 0 auto;
}

h2.center {
	text-align: center;
	color: white;
}