<div class="container">
	<h2>
		<span class="krux-bold">krux</span><span class="krux-italic">amsterdam</span><br/>
	</h2>

	<p>
		Cruquiusweg 120A<br/>
		1019AK Amsterdam<br/>
		The Netherlands<br/>
		<a href="mailto:info@kruxamsterdam.eu">info@kruxamsterdam.eu</a>
	</p>

	<h2>
		<span class="krux-bold">krux</span><span class="krux-italic">residents</span><br/>
	</h2>
	{% assign sorted_residents = (site.categories.residents | sort: 'title') %}
	<ul>
		{% for resident in sorted_residents %}
	  		{% if resident.category == "residents" %}
	  			<li>
	  				<a href="http://{{resident.website}}">{{resident.title}}</a></li>
	  			</li>
			{% endif %}
		{% endfor %}
	</ul>

	<p>
	<h2>
		<span class="krux-bold">krux</span><span class="krux-italic">info</span><br/>
	</h2>
		For more info check out our website on your desktop, or send us an email:<br/>
		<a href="mailto:info@kruxamsterdam.eu">info@kruxamsterdam.eu</a>
	</p>
</div>