<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>       
    {% include header.html %}   
    <div class="container-fluid krux-container">
      <div class="row">
        <div class="col-md-12 krux-page page-1" data-page="page-1">  
          <div class="bgImageContainer">
            <img src="{{site.baseurl}}/images/backgrounds/background-10.jpg" class="stretch" alt="" />
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="amsterdam">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 krux-page page-2" data-page="page-2">  
          <div class="bgImageContainer">
            <img src="{{site.baseurl}}/images/backgrounds/background-12.jpg" class="stretch" alt="" />
            <div class="background-overlay"></div>
          </div>          
          <div class="fp-controlArrow fp-prev"></div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="residents">
                {% for resident in site.posts reversed | sort:order %}
                  <div class="resident">
                    {% if resident.title != "index" and resident.image %}
                      <h2 class="center"><span class="krux-bold">{{ resident.title }}</span> <span class="krux-light">{{ resident.profession }}</span></h2>
                      <img data-lazy="{{ site.baseurl }}{{ resident.image }}" alt="{{ resident.title }}" class="artist-image img-responsive">
                    {% else %}
                      {{ resident.content }}      
                    {% endif %}
                    {% if resident.website %}
                      <a href="http://{{resident.website}}" target="blank"><h2 class="center">{{ resident.website }}</h2></a>
                    {% endif %}
                  </div>  
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="fp-controlArrow fp-next"></div>
        </div>
        <div class="col-md-12 krux-page page-3" data-page="page-3">  
          <div class="bgImageContainer">
            <img src="{{site.baseurl}}/images/backgrounds/background-04.jpg" class="stretch" alt="" />
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="amsterdam">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 krux-page page-4" data-page="page-4">  
          <div class="bgImageContainer">
            <img src="{{site.baseurl}}/images/backgrounds/background-14.jpg" class="stretch" alt="" />
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="amsterdam">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 krux-page page-5" data-page="page-5">  
          <div class="bgImageContainer">
            <img src="{{site.baseurl}}/images/backgrounds/background-16.jpg" class="stretch" alt="" />
          </div>
          <div class="row page-content">
            <div class="col-md-10 col-md-offset-1">
              <div class="amsterdam">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}    
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
    <script src="{{ site.baseurl }}/js/inview.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".residents").slick({
          lazyLoad: 'ondemand',
          slidesToShow: 1,
          adaptiveHeight: false      
        });

        $(".residents-list a").on("click", function (e) {
          e.preventDefault();
          for(var i = 0; i < $(this).attr("data-page"); i++) {
            $(".slick-slider").slick("slickGoTo", $(this).attr("data-page"));
          }
        });

        $(".slick-prev, .slick-next").hide();

        $(".fp-prev").on("click", function(){
          $(".slick-prev").trigger("click");
        });

        $(".fp-next").on("click", function(){
          $(".slick-next").trigger("click");
        });  

        $(".menu-button").click(function(e) {
          e.preventDefault();
          $("li").removeClass("active");
          $(this).parent("li").addClass("active");
          var page = $(this).attr("data-page");
          $('html, body').animate({
              scrollTop: $("." + page).offset().top
          }, 500);
        });

        $(".stretch").lazyload();   

        $(".krux-page").each(function(){
          $(this).bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
            var page = $(this).attr("data-page");
            if (isInView) {
              $(".menu-button[data-page='" + page + "']").parent("li").addClass("active");          
            } else {
              $(".menu-button[data-page='" + page + "']").parent("li").removeClass("active"); 
            }
          });
        });                 
      });      
    </script>
  </body>
</html>